.banner,
.cookies,
.pizza,
.taco {
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    font-size: 25px;
    color: navy;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: lightskyblue;
}

.cookies,
.pizza,
.taco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 15%;
    margin-top: 20px;

}